body{
    margin-top: 2%;
    background-color: #007924;
}
.title{
background: rgb(33, 221, 43);
font: normal normal 18px quicksand;  /*fuente*/
color:#ffffff;  /*color de la fuente*/
letter-spacing: 2px; /*separación entre las letras*/
text-align: center; /*alineación del texto*/
text-transform: uppercase; /*texto se transforma en mayúsculas*/
padding: 6px;  /*tamaño del fondo*/
border-radius: 20px; /*forma la borde del fondo*/
}
.drawing-space{
    height: 73vh;
}
.video-space{
    height: 80vh;
}

canvas {
    background-color: white;
    width:100%;
    height: 65vh;
    border: 2px solid black;
}

textarea{
    width:100%;
    height: 60vh;
}


/*Hola mundo*/


#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
    

}
#menu1{
  list-style: none;
  margin-left: 25%;
  background-color: yellowgreen;
  

}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color:rgb(255, 255, 255);
    display: block;
    padding: 20px 70px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: rgb(33, 221, 43);
}



.container{
    width: 100%;
    max-width: 700%;
    margin: auto;
    margin-top: 30px;
}

.lbl-menu{
    background: #6ddd04;
    text-align: center;
}

.lbl-menu label{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff;
    cursor: pointer;
    transition: all 400ms ease;
}

.lbl-menu label:hover{
    background: rgb(124, 185, 32);
}

.content{
    position: relative;
}

.content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: honeydew;
    padding-bottom: 40px;
}

#radio1,#radio2,#radio3{
    display: none;
}

#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3{
    opacity:1 ;
    visibility: visible;
    transform: scale(1);
}

.content div::after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid beige;
    bottom: 100%;
    left: 28px;
}

.content .tab2::after{
    left: 470px;
}
 
.content .tab3::after{
    left: 1000px;
}



